APP_NAME=some_task_manager
APP_NAME_DESCRIPTION=Название приложения для идентификации.
DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/some_task_manager # Свой адресс бд.
ENV=dev
ENV_DESCRIPTION=Среда выполнения: dev, prod или test.
LOG_LEVEL=INFO
LOG_LEVEL_DESCRIPTION=Уровень детализации логов.
LOG_LEVEL_ERROR=Некорректный уровень логирования.
LOG_DIR=logs
LOG_DIR_DESCRIPTION=Директория для хранения файлов с логами.
